<div style="text-align:center">
  <h1>{{title}}</h1>
</div>

<h5>Problem Description</h5>

<p> Let's say there are 100 light bulbs lined up in a row in a long room. Each bulb has its own switch and is currently
  switched off. The room has an entry door and an exit door. There are 100 people lined up outside the entry door. Each
  bulb is numbered consecutively from 1 to 100. So is each person.

  Person No. 1 enters the room, switches on every bulb, and exits. Person No. 2 enters and flips the switch on every
  second bulb (turning off bulbs 2, 4, 6, etc.) Person No. 3 enters and flips the switch on every third bulb (changing
  the state on bulbs 3, 6, 9, and so forth). This continues until all 100 people have passed through the room.

  How many of the light bulbs are illuminated after the 100th person has passed through the room? More specifically,
  which light bulbs are still illuminated?</p>

<h5>Solution Requirements</h5>
<p>Please create a solution to the above problem. You can use any technology you wish, though a solution using C# and/or
  Angular 8+ is preferred.

  The result should have a user interface to allow the user to input the number of people and the number of light bulbs.
  It should output which light bulbs are on at the end of the process and how many in total are illuminated.

  Please submit a link to a GitHub or Bitbucket repository. Do not include any compiled executable files.</p>

<h5>Solutions</h5>
<p>I have created two solutions for this application. Solution one was written all in Angular. Solution two is angular
  with an API backend. Use the main navigation bar above to test both solution.</p>
